<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="12">
        <h1 class="display-1 font-weight-bold mb-3">
          Contact Information
        </h1>
      </v-col>
    </v-row>
    <ValidationProvider rules="required" v-slot="{ classes }">
    <form>
      <v-row class = "pa-5">
        <v-col cols="12" sm="6">
          <v-text-field 
            v-model="name" 
            v-validate="'required|max:25'"
            :counter=25
            label="First Name"
            data-vv-name="first_name"
            required
          />
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field 
            v-model="name" 
            v-validate="'required|max:25'"
            :counter=25
            label="Last Name"
            data-vv-name="last_name"
            required
          />
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="email"
            v-validate="'required|email'"
            label="E-mail"
            data-vv-name="email"
            required
            :class="classes"
          />
        </v-col>
      </v-row>
    </form>
    </ValidationProvider>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    contact: {
      first_name: "Eric",
      last_name: "Bailey",
      email: "baileye@iu.edu",
      phone: "(317)278-1164",
      address1: "410 W 10th St",
      address2: "",
      city: "Indianapolis",
      state: "IN",
      zip: "46204"
    }
  }),
};
</script>

<style>
input.invalid {
  border: solid 1px red;
}

input.valid {
  border: solid 1px green;
}
</style>