<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm=12>
        <h1 class="display-1 font-weight-bold mb-3">
          Frequently Asked Questions
        </h1>
        <template v-for="(faq, i) in faqs">
          <v-card class = 'pa-2 mb-5' outlined tile v-bind:key='i'>
            <v-list-item-title class="headline ma-3">{{ faq.question }}</v-list-item-title>
            <v-divider/>
            <div class = "pl-6 pa-4">
              {{ faq.answer }}
            </div>
          </v-card>
        </template>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    faqs: [
      {
        question: "Why is the sky blue?",
        answer: "Sunlight reaches Earth's atmosphere and is scattered in all directions by all the gases and particles in the air. Blue light is scattered more than the other colors because it travels as shorter, smaller waves. This is why we see a blue sky most of the time."
      },
      {
        question: "Why Aren't There Any More Dinosaurs?",
        answer: "About 65 million years ago an enormous asteroid collided with the earth and changed everything on the planet. The dinosaurs couldn't adapt and eventually died out, making way for new animals, ones that were better suited to this other climate."
      },
      {
        question: "How are rainbows made?",
        answer: "A rainbow is formed when light hits water droplets in the air and is refracted, or bent. Light that appears white (like light from the sun) is actually made up of several colors! The colors that make up white light are the same colors that make a rainbow. They are: red, orange, yellow, green, blue, indigo, and violet."
      }
    ]
  }),
};
</script>
