<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm=4>
        <NewsItem 
          v-for="(item, i) in news" 
          :key='i' 
          :show="item.show" 
          :type="item.type" 
          :title = "item.title" 
          :message = "item.message"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import NewsItem from "../components/News"

  export default {
    components: {
      NewsItem
    },
    data: () => ({
      news: [
        {type: "news", title: "Welcome to PPMI", message: "Congratulations! You have been accepted into the PPMI Remote Protocol. Please check back here often for updates.", show: true},
        {type: "news", title: "Sample kit on its way", message: "Your UPSIT and Saliva Kits are on their way. You can track their progress by clicking 'Tracking' in the sidebar or clicking <a href = '/tracking'>here</a>.", show: true},
        {type: "todo", title: "Fox Insights PRO due", message: "A PRO is awaiting your completion on FoxInsights. Please complete at your earliest convenience.", show: true},
        {type: "travel", title: "Your DAT Scan is scheduled", message: "Your DAT Scan has been scheduled. Please visit the Itinerary Page for more info.", show: true},
      ]
    }),
  };

</script>
