<template>
  <v-card
    class="mx-auto mt-10"
    max-width="800"
  >
    <v-card
      dark
      flat
    >
      <v-btn
        absolute
        bottom
        color="amber"
        right
        fab
      >
        <v-icon>mdi-comment-question</v-icon>
      </v-btn>
      
      <v-img
        class="white--text align-end"
        src="https://d13k13wj6adfdf.cloudfront.net/urban_areas/indianapolis_web-de0ee7a5bd.jpg"
      >
            <v-card-title class = 'display-3'>Indianapolis, IN</v-card-title>
      </v-img>
    </v-card>
    <v-card-text class="py-0">
      <v-timeline
        align-top
        dense
      >
        <v-timeline-item
          color="pink"
          icon = "mdi-airplane-takeoff"
        >
          <v-row class="pt-1">
            <v-col cols="3">
              <strong>{{ getTime(flights.arriving.departure_time) }}</strong>
            </v-col>
            <v-col>
              <strong>{{ flights.arriving.carrier }} Flight {{ flights.arriving.flight }} departs from {{ flights.arriving.departure_airport }}</strong>
              <div class="caption">Check Flight Status</div>
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item
          color="pink"
          icon = "mdi-airplane-landing"
        >
          <v-row class="pt-1">
            <v-col cols="3">
              <strong>{{ getTime(flights.arriving.arrival_time) }}</strong>
            </v-col>
            <v-col>
              <strong>{{ flights.arriving.carrier }} Flight {{ flights.arriving.flight }} arrives at {{ flights.arriving.arrival_airport }}</strong>
              <div class="caption">Check Flight Status</div>
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item
          color="pink"
          icon = "mdi-train-car"
        >
          <v-row class="pt-1">
            <v-col cols="3">
              <strong>{{ getTime(flights.arriving.arrival_time) }}-{{ getTime(appointment.start_time) }}</strong>
            </v-col>
            <v-col>
              <strong>Take Ground Transportation to {{ site.name }}</strong>
                                <v-col cols=12 sm=9>
                      <v-simple-table dense>
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{ site.name }}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{ site.address }}<br />{{ site.city }}, {{ site.state }} {{ site.zip }}</td>
                        </tr>
                        </tbody>
                      </v-simple-table>
                  </v-col>
            </v-col>
          </v-row>
        </v-timeline-item>    

        <v-timeline-item
          color="pink"
          icon = "mdi-human-greeting"
        >

          <v-row class="pt-1">
            <v-col cols="3">
              <strong>{{ getTime(appointment.start_time) }}</strong>
            </v-col>
            <v-col>
              <strong>Meet Coordinator</strong>
              <v-row>
                  <v-col cols=12 sm='3'>
                    <v-avatar size = "96">
                        <v-img
                        src="../assets/chobbick.jpg"
                        ></v-img>
                    </v-avatar>
                  </v-col>
                  <v-col cols=12 sm=9>
                      <v-simple-table dense>
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{ contact.name }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ contact.email }}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>{{ contact.phone }}</td>
                        </tr>
                        </tbody>
                      </v-simple-table>
                  </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item
          color="pink"
          icon = "mdi-medical-bag"
        >
          <v-row class="pt-1">
            <v-col cols="3">
              <strong>{{ getTime(appointment.scan_time) }}</strong>
            </v-col>
            <v-col>
              <strong>Return to {{ site.name }} for DAT Scan</strong>
                <v-col cols=12 sm=9>
                      <v-simple-table dense>
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{ site.name }}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{ site.address }}<br />{{ site.city }}, {{ site.state }} {{ site.zip }}</td>
                        </tr>
                        </tbody>
                      </v-simple-table>
                  </v-col>
            </v-col>
          </v-row>
        </v-timeline-item>    

        <v-timeline-item
          color="pink"
          icon = "mdi-airplane-takeoff"
        >
          <v-row class="pt-1">
            <v-col cols="3">
              <strong>{{ getTime(flights.departing.departure_time) }}</strong>
            </v-col>
            <v-col>
              <strong>{{ flights.departing.carrier }} Flight {{ flights.departing.flight }} departs from {{ flights.departing.departure_airport }}</strong>
              <div class="caption">Check Flight Status</div>
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item
          color="pink"
          icon = "mdi-airplane-landing"
        >
          <v-row class="pt-1">
            <v-col cols="3">
              <strong>{{ getTime(flights.departing.arrival_time) }}</strong>
            </v-col>
            <v-col>
              <strong>{{ flights.departing.carrier }} Flight {{ flights.departing.flight }} arrives at {{ flights.departing.arrival_airport }}</strong>
              <div class="caption">Check Flight Status</div>
            </v-col>
          </v-row>
        </v-timeline-item>

      </v-timeline>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
    data: () => ({
        site: {
            name: "HITS",
            address: "410 W 10th Street",
            city: "Indianapolis",
            state: "IN",
            zip: "46204"
        },
        appointment: {
            start_time: "November 7, 2019 10:30 AM EST",
            scan_time: "November 7, 2019 3:30 PM EST"
        },
        contact: {
            name: "Chris Hobbick",
            email: "chobbick@iu.edu",
            phone: "(317) 278-1188",
            headshot: "chobbick.jpg"
        },
        flights: {
            arriving: {
                departure_airport: "ORD",
                departure_time: "November 7, 2019 8:25 AM EST",
                arrival_airport: "IND",
                arrival_time: "November 7, 2019 10:10 AM EST",
                carrier: "Southwest",
                flight: "5309",
            },
            departing: {
                departure_airport: "IND",
                departure_time: "November 7, 2019 8:10 PM EST",
                arrival_airport: "ORD",
                arrival_time: "November 7, 2019 10:10 PM EST",
                carrier: "Southwest",
                flight: "9035",
            }
        },
    }),
    methods: {
        getTime: function(date_string) {
            let x = new Date(date_string)
            let hours = x.getHours();
            let minutes = x.getMinutes();
            let ampm = hours >= 12 ? 'PM' : "AM";
            hours = hours % 12
            minutes = minutes < 10 ? "0" + minutes : minutes;
            return hours + ":" + minutes + " " + ampm;
        }
    },
    computed: {

    }
}
</script>