<template>
  <span>
    <template v-for="(item, i) in items">
      <v-tooltip bottom :key='i'>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>{{ item.icon }}</v-icon>
          </v-btn>
        </template>
        <span>{{ item.tooltip }}</span>
      </v-tooltip>
    </template>
  </span>
</template>
<script>
  export default {
    name: 'App',
    components: {},    
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
      items: [
        {icon: 'mdi-comment-question-outline', tooltip: "Ask a Question"},
        {icon: 'mdi-logout', tooltip: "Logout"}
      ]
    }),
  }
</script>