<template>
    <v-card class = "pa-2 mb-2" outlined tile :style="{display: show ? 'block' : 'none' }">
        <div class="overline mb-4"><v-icon>mdi-airplane</v-icon>{{ this.type }}</div>
        <v-list-item-title class="headline mb-1">{{ this.title }}</v-list-item-title>
        <v-divider/>
        <div class = "ml-5 mt-5" v-html="this.message"></div>
        <v-card-actions>
            <v-row>
            <v-col nogutter class='col-auto ml-auto pa-0 pr-3'>
            <v-btn text color="amber accent-4">
                Dismiss
            </v-btn>
            </v-col>
            </v-row>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    props: {
        type: String, 
        title: String,
        message: String,
        show: Boolean
    }
}
</script>

<style scoped></style>       
