<template>
  <v-list dense class="grey lighten-4">
    <template v-for="(item, i) in items">
      <v-row v-if="item.heading" :key="i" align="center">
        <v-col cols="6">
          <v-subheader v-if="item.heading">
            {{ item.heading }}
          </v-subheader>
        </v-col>
        <v-col cols="6" class="text-right">
          <v-btn small text>edit</v-btn>
        </v-col>
      </v-row>
      <v-divider v-else-if="item.divider" :key="i" dark></v-divider>
      <v-list-item v-else :key="i" router v-bind:to="item.route" v-bind:id="'sidebar-' + item.id">
          <v-list-item-action >
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="grey--text">
              {{ item.text }}
            </v-list-item-title>
          </v-list-item-content>
      </v-list-item>
    </template>
  </v-list>
</template>

<script>
export default {
    name: 'Sidebar',
    data: () => ({
      drawer: null,
      items: [
        { id: 'home', icon: 'mdi-home', text: "Home", route: "/"},
        { id: 'contact_info', icon: 'mdi-account-card-details', text: 'Contact Info', route: '/contact_info' },
        { id: 'consents', icon: 'mdi-signature', text: 'Consents', route: "/consents" },
        { id: 'faqs', icon: 'mdi-frequently-asked-questions', text: "Frequently Asked Questions", route: "/faqs"},
        { divider: true },
        { id: 'tracking', icon: 'mdi-truck-fast', text: 'Tracking', route: "/tracking" },
        { divider: true },
        { id: 'itinerary', icon: 'mdi-airplane', text: 'Itinerary', route: "/itinerary" },
        { divider: true },
        { id: 'settings', icon: 'mdi-settings', text: 'Settings', route: "/settings" },
        { id: 'questions', icon: 'mdi-comment-question', text: 'Ask a Question', route: "/questions" },
        { id: 'logout', icon: 'mdi-logout', text: 'Logout' },
        { divider: true },
        { id: 'phone', icon: 'mdi-phone', text: 'Call' },
      ],
    }),
}
</script>