<template>
  <v-app id="ppp">
    <span v-if="logged_in" >
    <v-app-bar app clipped-left color="amber">
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <span class="title ml-3 mr-5">PPMI&nbsp;<span class="font-weight-light">Participant Portal</span></span>
      <v-spacer></v-spacer>
      <HeaderMenu/>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" app clipped color="grey lighten-4">
      <SidebarMenu/>
    </v-navigation-drawer>
    <v-content>
      <router-view/>
    </v-content>
    </span>
    <span v-else>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="amber"
                dark
                flat
              >
                <v-toolbar-title>PPMI Participant Portal - Login</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                Welcome to the PPMI Participant Portal. Please log in using your Fox Insights credentials. 
                To learn more about PPMI or Parkinson's Disease please visit <a href = "https://www.michaeljfox.org/">The Michael J Fox Foundation website</a>.
                <v-form>
                  <v-text-field
                    label="Login"
                    name="login"
                    prepend-icon="mdi-account"
                    type="text"
                  ></v-text-field>

                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="amber">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </span>
  </v-app>
</template>

<script>

  import SidebarMenu from './components/SidebarMenu';
  import HeaderMenu from './components/HeaderMenu';

  export default {
    name: 'App',
    components: {
      SidebarMenu,
      HeaderMenu,
    },    
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
      logged_in: false
    }),
  }
</script>

<style>
#keep .v-navigation-drawer__border {
  border: 1px
}
</style>